REACT_APP_API_URL=http://localhost:3001/api/v1
REACT_APP_AI_API_URL=http://localhost:3002
REACT_APP_CONCURSOS_API_URL=https://api.concursos.gov.br/v1
REACT_APP_STORAGE_URL=https://storage.exemplo.com
